params {
  timestamp = (new Date()).getTime()
}

executor {
  name = 'local'
}

timeline {
   enabled = true
   file = "reports/${params.timestamp}/timeline.html"
}

report {
   enabled = true
   file = "reports/${params.timestamp}/report.html"
}

trace {
   enabled = true
   file = "reports/${params.timestamp}/trace.txt"
}
